default: &default
  host: localhost
  adapter: mysql2
  encoding: utf8
  pool: 5
  username: <%= ENV['BUDGET_TRACKING_DATABASE_USERNAME'] %>
  password: <%= ENV['BUDGET_TRACKING_DATABASE_PASSWORD'] %>
  socket: /var/run/mysqld/mysqld.sock

development:
  <<: *default
  database: budget-tracking_development

test:
  <<: *default
  database: budget-tracking_test

production:
  <<: *default
  database: budget-tracking_production
