default: &default
  host: <%= ENV.fetch('DATABASE_HOST', 'localhost') %>
  adapter: postgresql
  encoding: utf8
  pool: 5
  port: 5432
  reconnect: true
  username: <%= ENV.fetch('DATABASE_USERNAME', 'postgres') %>
  password: <%= ENV.fetch('DATABASE_PASSWORD', '') %>

development:
  <<: *default
  database: budget-tracking_development

test:
  <<: *default
  database: budget-tracking_test

production:
  <<: *default
  database: budget-tracking_production
