default: &default
  adapter: postgresql
  encoding: utf8
  pool: 5
  reconnect: true

development:
  <<: *default
  database: budget-tracking_development
  host: <%= ENV.fetch('DATABASE_HOST', 'db') %>
  username: <%= ENV.fetch('DATABASE_USERNAME', 'postgres') %>
  password: <%= ENV.fetch('DATABASE_PASSWORD', 'pgpass') %>
  port: 5432

test:
  <<: *default
  database: budget-tracking_test
  host: <%= ENV.fetch('DATABASE_HOST', 'db') %>
  username: <%= ENV.fetch('DATABASE_USERNAME', 'postgres') %>
  password: <%= ENV.fetch('DATABASE_PASSWORD', 'pgpass') %>
  port: 5432

production:
  <<: *default
  url: <%= ENV['DATABASE_URL'] %>
