/*
 *= require select2
 *= require_self
 *= require main
*/

.navbar-brand-image
{
  height: 25px;
}

.navbar-obs
{
  background-color: #eceeec;
}

.landing-page-tagline
{
  font-family: 'Pontano Sans';
  font-size: 35px;
  font-weight: 400;
  font-style: normal;
  color: #E9934E;
  border-left: 1px solid #E9934E;
}

.fa.landing-page-logo
{
  color: #E9934E;
  font-size: 200px;
  text-align: center;
  width: 100%;
}

.landing-page-black
{
  color: #000;
}

.empty-table-container
{
  text-align: center;
  color: #E9934E;
  
}

.fa.empty-table-icon
{
  font-size: 40px;
}

.empty-table-text
{
  font-variant-caps: all-small-caps;
}


